@import "../../../styles/settings.scss";

.container {
  margin-bottom: 50px;
}

.siteTitle {
  text-align: center;
  font-weight: normal;
  font-size: 48px;
}

.logoStars {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}
.logoEuroLogo {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

@media (max-width: 600px) {
  .container {
    .siteTitle {
      margin-top: 10px;
    }

    .rightColContainer {
      width: 100%;
    }
  }

  .logoStars,
  .logoEuroLogo {
    transform: scale(0.7);
  }

  .logoStars {
    top: -25%;
    left: -25%;
  }

  .logoEuroLogo {
    right: -25%;
    bottom: -25%;
  }
}
