@import "../../../styles/settings.scss";

.siteTitle {
  text-align: center;
  font-weight: normal;
  font-size: 48px;
}

.logoStars {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}
.logoEuroLogo {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

@media (max-width: 600px) {
  .container {
    margin-bottom: 50px;
  }

  .logoStars,
  .logoEuroLogo {
    transform: scale(0.7);
  }

  .logoStars {
    left: -25%;
  }

  .logoEuroLogo {
    right: -25%;
    bottom: -25%;
  }
}
